[access]
	inheritFrom = All-Projects
[project]
	description = Website
[access "refs/*"]
	owner = group user/Alec Parent (slvr)
[access "refs/for/refs/*"]
	read = group user/Alec Parent (slvr)
	push = group user/Alec Parent (slvr)
	label-Code-Review = -2..+2 group user/Alec Parent (slvr)
	label-Verified = -1..+1 group user/Alec Parent (slvr)
	rebase = group user/Alec Parent (slvr)
	removeReviewer = group user/Alec Parent (slvr)
	submit = group user/Alec Parent (slvr)
[access "refs/heads/*"]
	read = group user/Alec Parent (slvr)
	create = group user/Alec Parent (slvr)
	push = +force group user/Alec Parent (slvr)
	pushMerge = group user/Alec Parent (slvr)
[access "refs/tags/*"]
	push = group user/Alec Parent (slvr)
	push = +force group user/Alec Parent (slvr)
